<div class="tableform">
    <h3>账单导入</h3>
    <div class="division">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" >
            <tbody>
            <tr>
               <td style='width:100px;text-align:right;'>选择导入模版：</td>
               <td>
               <input type='button' value='下载模版' onclick="new Dialog('index.php?app=omecsv&ctl=admin_export&act=main&add=finance&ctler=finance_mdl_bill&filter[template]=1',{'title':'<{t}>下载模版<{/t}>','width':400,'height':170});" >
               </td>
               </tr>
               <tr>
               <td style='width:100px;text-align:right;'>导入模版：</td>
               <td>
               <input type='button' value='导入账单' onclick="new Dialog('index.php?app=omecsv&ctl=admin_import&act=main&add=finance&ctler=finance_mdl_bill&filter[checkTime]=after',{'title':'<{t}>导入账单<{/t}>','width':400,'height':180});" >
               </td>
               </tr>
            </tbody>
        </table>  
    </div>
</div>
<script>

</script>